.p10{
    padding: 10px;
}
.p15{
    padding: 15px;
}
.mt10{
    margin-top: 10px;
}
.mt15{
    margin-top: 15px;
}
.ml10{
    margin-left: 10px;
}
.ml15{
    margin-left: 15px;
}
.mr10{
    margin-right: 10px;
}
.mr15{
    margin-right: 15px;
}
.mla{
    margin-left: auto;
}
.w100p{
    width: 100%;
}